PINAKES_CONTROLLER_URL={{ automation_controller_main_url }}
PINAKES_CONTROLLER_VERIFY_SSL={{ automationcatalog_controller_verify_ssl }}
PINAKES_CONTROLLER_TOKEN={{ automationcatalog_controller_token }}

PINAKES_KEYCLOAK_URL={{ sso_automation_platform_realm_frontendurl | default(sso_api_url_base) }}
PINAKES_KEYCLOAK_REALM_FRONTEND_URL={{ sso_automation_platform_realm_frontendurl | default(sso_api_url_base) }}
PINAKES_KEYCLOAK_DISPLAY_NAME="AUTOMATION SERVICES CATALOG"
PINAKES_KEYCLOAK_REALM={{ sso_automation_platform_realm }}
PINAKES_KEYCLOAK_CLIENT_ID={{ sso_automationcatalog_client_id }}
PINAKES_KEYCLOAK_CLIENT_SECRET={{ sso_client_secret }}
PINAKES_KEYCLOAK_USER={{ sso_console_admin_username }}
PINAKES_KEYCLOAK_PASSWORD={{ sso_console_admin_password }}
PINAKES_KEYCLOAK_VERIFY_SSL={{ sso_validate_certs }}
REDIRECT_URIS_STR={{ automationcatalog_redirect_uris_str | default(automationcatalog_main_url ~ '/*') }}

PINAKES_SECRET_KEY={{ automationcatalog_secret_key_slurp['content'] | b64decode }}
PINAKES_DATABASE_NAME={{ automationcatalog_install_pg_database }}
PINAKES_POSTGRES_HOST={{ automationcatalog_install_pg_host }}
PINAKES_POSTGRES_PORT={{ automationcatalog_install_pg_port }}
PINAKES_POSTGRES_USER={{ automationcatalog_install_pg_username }}
PINAKES_POSTGRES_PASSWORD={{ automationcatalog_install_pg_password }}
PINAKES_POSTGRES_SSL_MODE={{ _automationcatalog_pg_sslmode }}

PINAKES_GUNICORN_WORKERS={{ automationcatalog_gunicorn_workers }}
PINAKES_GUNICORN_BIND='unix:/var/run/ansible-automation-platform/services-catalog.sock'
PINAKES_STATIC_ROOT=/var/lib/ansible-automation-platform/services-catalog/public/static
PINAKES_MEDIA_ROOT=/var/lib/ansible-automation-platform/services-catalog/public/media
PINAKES_SERVICE_USER=pinakes
PINAKES_ALLOWED_HOSTS="{{ _automationcatalog_allowed_hostnames | flatten | join(',') }}"
PINAKES_UI_ALLOWED_ORIGINS={{ _automationcatalog_allowed_hostnames | flatten | join(',') }}
PINAKES_CSRF_TRUSTED_ORIGINS={{ _automationcatalog_allowed_hostnames | flatten | join(',') }}

PINAKES_REDIS_UNIX_SOCKET_PATH='/var/run/redis/redis.sock'

PINAKES_HTTPS_ENABLED={{ not automationcatalog_disable_https|bool }}
PINAKES_UI_ALLOWED_ORIGINS={{ automationcatalog_main_url }}
PINAKES_CSRF_TRUSTED_ORIGINS={{ automationcatalog_main_url }}

{% if _automationcatalog_enable_analytics_collection | bool and _automationcatalog_analytics_use_cred | bool %}
PINAKES_INSIGHTS_TRACKING_STATE=True
PINAKES_INSIGHTS_AUTH_METHOD=credential
PINAKES_INSIGHTS_URL={{ automation_analytics_url }}
PINAKES_INSIGHTS_USERNAME={{ insights_username }}
PINAKES_INSIGHTS_PASSWORD={{ insights_password | quote }}
{% elif _automationcatalog_enable_analytics_collection | bool and _rhsm_registered | bool %}
PINAKES_INSIGHTS_TRACKING_STATE=True
PINAKES_INSIGHTS_AUTH_METHOD=certificate
PINAKES_INSIGHTS_URL={{ automation_analytics_cert_url }}
{% else %}
PINAKES_INSIGHTS_TRACKING_STATE=False
{% endif %}
